# Telegram Bot Framework
pyrofork
tgcrypto

# Async HTTP Client and Database Driver
aiohttp
motor
aiofiles
dnspython

# Environment & Utilities
python-dotenv
apscheduler
psutil
humanize
pytz

# Web Framework (Updated for async support)
Flask>=2.0.0
gunicorn
Jinja2
werkzeug
itsdangerous
